/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/ 

//Шаблоны
%toppropcard{
    width: 633px;
    height: 416px;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    flex-direction:column;
}   
%botpropcard{
    width: 951px;
    height: 416px;
    display: flex;
    align-items: center;
    flex-direction:column;
}
%propbtn{
    display: flex;
    align-items:center;
    justify-content: center;
    background: #FAC86E;
    border-radius: 30px;
    width: 260px;
    height: 40px;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color:black;
    text-decoration: none;
    margin: 20px 0;
}

//container
.container{
    width: 100%;
    max-width: 1590px;
    margin: 0 auto;
}

//header
.header{
    background: white;
    width: 100%;
    height: 160px;
    position: absolute;
    display: flex;
    align-items:center;
    .header-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-logo{
            display: flex;
            justify-content: flex-start;
            width: 700px;
            .logo{
                margin: auto;
            }
            .header-figure{
                content: "";
                width: 3px;
                height: 50px;
                background-color:black;
                margin: 25px 50px;
            }
            .header-title{
                font-family: Montserrat, sans-serif;
                font-size: 24px; 
                font-weight: 400;
                line-height: 30px;
                text-transform: uppercase;
                margin: auto;
            }
        }
        .header-collback{
            .header-number{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-family: Montserrat, sans-serif;
                font-size: 24px;
                font-weight: 600; 
                .ph-img{
                    margin: 5px;
                }
                .collback-btn{
                    display: flex;
                    align-items:center;
                    justify-content: center;
                    background: #FFC633;
                    border-radius: 30px;
                    width: 260px;
                    height: 40px;
                    margin-left: 45px;
                    font-family: Montserrat, sans-serif;
                    font-size: 18px;
                    font-weight: 700;
                    color:black;
                    text-decoration: none;
                }
            }
        }
    }
}

//intro
.intro{
    position: absolute;
    width: 1920px;
    width: 100%;
    height: 738px;
    top: 160px;
    display: flex;
    background: linear-gradient(257.35deg, rgba(45, 35, 72, 0.4) 3.59%, rgba(27, 20, 46, 0) 81.68%),url("Source/introimg.svg") center no-repeat;
    background-size: cover;
    .intro-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .intro-text{
            margin: 115px 0;
            width: 655px;
            .intro-title{
                font-family: Montserrat, sans-serif;
                color:white;
                line-height: 85px;
                & h1{
                    font-size: 67px;
                    font-weight: 800;
                    text-transform: uppercase;
                }
                & p{
                    font-size: 29px;
                    font-weight: 300;
                    text-transform: uppercase;
                }
            }
            .intro-figure{
                content: "";
                width: 150px;
                height: 3px;
                background-color: white;
                margin: 15px auto;
            }
            .intro-subtitle{
                font-family: Montserrat, sans-serif;
                color:white;
                & h1{
                    font-weight: 700;
                    font-size: 56px;
                    line-height: 88px;
                }
                & p{
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 33px;
                    & span{
                        font-weight: 700;
                        color:#F6BF33;
                    }
                }
                & h2{
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 39px;
                    color: #F6BF33;
                    text-transform: uppercase;
                }
            }
        }
        .intro-form{
            display: flex;
            align-items:center;
            justify-content: center;
            flex-direction:column;
            background: #FFC633;
            border-radius: 30px;
            box-shadow: 10px 25px 45px rgba(0, 0, 0, 0.15);
            width: 890px;
            height: 450px;
            .intro-form-title{
                font-family: Montserrat, sans-serif;
                text-transform: uppercase;
                text-align: center;
                & h1{
                    font-weight: 800;
                    font-size: 87px;
                    line-height: 106px;
                    color: #24173D;
                }
                & h2{
                    font-weight: 400;
                    font-size: 31px;
                    line-height: 30px;
                    color: #24173D;
                }
                & p{
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 65px;
                    color: white;
                }
            }
            .intro-form-input{
                margin-top: 10px;
                .intro-input{
                    width: 385px;
                    height: 65px;
                    border-radius: 5px;
                    padding: 20px;
                    font-family: Montserrat, sans-serif;
                    font-weight: 200;
                    font-size: 19px;
                    line-height: 23px;
                    color: #5C5C5C;
                }
                .input-margin{
                    margin-right: 15px;
                }
            }
            .intro-input-btn{
                display: flex;
                margin: 30px 0;
                align-items:center;
                justify-content: center;
                background: #24173D;
                box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
                border-radius: 43px;
                width: 350px;
                height: 50px;
                font-family: Montserrat, sans-serif;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: white;
                text-align: center;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}

//benefits
.benefits{
    position: absolute;
    top: 160px+738px;
    width: 100%;
    height: 550px;
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    .benefits-title{
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        color: #24173D;
    }
    .benefits-cards{
        display: flex;
        justify-content: flex-start;
        justify-content: space-between;
        flex-direction:column;
        font-family: Montserrat, sans-serif;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #24173D;
        .benefits-card-stroke{
            display: flex;
            flex-direction: row;

            .benefits-card{
                display: flex;
                align-items:center;
                margin: 50px 50px 50px 0;
                width: 460px;
                height: 80px;
                & p{
                    padding-left: 15px;
                }
            }
        }
    }
}

//prop types
.prop-types{
    position: absolute;
    top: 160px+738px+550px;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    .prop-title{
        margin-bottom: 50px;
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        color: #24173D;
    }
    .prop-cards-top{
        display: flex;
        justify-content: space-between;
        & h1{
            font-family: Montserrat, sans-serif;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: white;
            margin-top: 300px; 
        }
        .studios{
            @extend %toppropcard;
            margin-right: 1px;
            & a{
                @extend %propbtn;
            }
            background: linear-gradient(180deg, rgba(17, 10, 33, 0) 0%, rgba(20, 12, 38, 0.75) 100%), url(Source/prop1.svg) center no-repeat;
        }
        .apartments{
            @extend %toppropcard;
            margin-right: 1px;
            & a{
                @extend %propbtn;
            }
            background: linear-gradient(180deg, rgba(17, 10, 33, 0) 0%, rgba(20, 12, 38, 0.75) 100%), url(Source/prop2.svg) center no-repeat;
        }
        .penthouses{
            @extend %toppropcard;
            & a{
                @extend %propbtn;
            }
            background: linear-gradient(180deg, rgba(17, 10, 33, 0) 0%, rgba(20, 12, 38, 0.75) 100%), url(Source/prop3.svg) center no-repeat;
        }
    }
    .prop-cards-bot{
        display: flex;
        justify-content: space-between;
        & h1{
            font-family: Montserrat, sans-serif;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: white;
            margin-top: 300px;
        }
        .townhouses{
            @extend %botpropcard;
            & a{
                @extend %propbtn;
            }
            background: linear-gradient(180deg, rgba(17, 10, 33, 0) 0%, rgba(20, 12, 38, 0.75) 100%), url(Source/prop4.svg) center no-repeat;
            margin-right: 1px;
            }
        .villas{
            @extend %botpropcard;
            & a{
                @extend %propbtn;
            }
            background: linear-gradient(180deg, rgba(17, 10, 33, 0) 0%, rgba(20, 12, 38, 0.75) 100%), url(Source/prop5.svg) center no-repeat;
        }
    }
}

//data 
.data{
    position: absolute;
    top: 160px+738px+550px+950px;
    width: 100%;
    display: flex;
    align-items:center;
    .data-inner{
        display: flex;
        justify-content: space-between;
        align-items:center;
        .data-text{
            width: 900px;
            display: flex;
            justify-content: flex-start;
            align-items:center;
            .data-fugure{
                content: "";
                margin: 100px 20px 100px 90px;
                width: 8px;
                height: 265px;
                background-color: #24173D;
            }
            & h1{
                font-family: Montserrat, sans-serif;
                font-weight: 900;
                font-size: 44px;
                line-height: 77px;
                text-transform: uppercase;
                color:#24173D;
            }
        }
        .data-form{
            margin: 0;
            display: flex;
            align-items:center;
            justify-content: center;
            background: #FFC633;
            border-radius: 30px 0 0 30px;
            box-shadow: 10px 25px 45px rgba(0, 0, 0, 0.15);
            width: 1003px;
            height: 321px;
            .separator{
                content: "";
                width: 2px;
                height: 146px;
                background-color: white;
                opacity: .2;
                margin: 0 60px;
            }
            & p {
                font-family: Montserrat, sans-serif;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                text-transform: uppercase;
                color: white;
                margin:auto;
            }
            & h1{
                font-family: Montserrat, sans-serif;
                font-weight: 800;
                font-size: 70px;
                line-height: 85px;
                text-transform: uppercase;
                & span {
                    font-size: 26px;
                    line-height: 5px;
                }
            }

            .inner-separator{
                content: "";
                width: 158px;
                height: 2px;
                background-color: white;
            }
            .first-data{
                width: 195px;
                height: 220px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items:center;
            }
            .second-data{
                width: 195px;
                height: 220px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items:center;
            }
            .third-data{
                width: 195px;
                height: 220px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items:center;
            }

        }
    }
}
//CTA form
.CTA-form{
    position: absolute;
    top: 160px+738px+550px+950px+500px;
    width: 100%;
    height: 398px;
    display: flex;
    align-items:center;
    background: linear-gradient(0deg, rgba(17, 10, 31, 0.7), rgba(17, 10, 31, 0.7)), url("Source/CTA.svg") center no-repeat;
    background-size: cover;
    .CTA-form-inner{
        margin: auto;
        display: flex;
        align-items:center;
        flex-direction: column;
        & h1{
            font-family: Montserrat, sans-serif;
            font-weight: 800;
            font-size: 44px;
            line-height: 54px;
            color: white;
            margin: 10px;
        }
        & p{
            font-family: Montserrat, sans-serif;
            font-weight: 400;
            font-size: 30px;
            line-height: 37px;
            color: white;
            margin: 20px;
        }
        .CTA-index{
            display: flex;
            align-items:center;
            .CTA-input{
                width: 385px;
                height: 57px;
                border-radius: 5px;
                padding: 20px;
                font-family: Montserrat, sans-serif;
                font-weight: 200;
                font-size: 19px;
                line-height: 23px;
                color: #5C5C5C;
                margin: 10px;
            }
            .CTA-input-btn{
                display: flex;
                margin: 30px 0;
                align-items:center;
                justify-content: center;
                background: #FFC633;
                box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
                border-radius: 5px;
                width: 250px;
                height: 57px;
                font-family: Montserrat, sans-serif;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: white;
                text-align: center;
                text-transform: uppercase;
                text-decoration: none;
                margin-left: 10px;
            }
        }

    }
}

//footer
.footer{
    position: absolute;
    top: 160px+738px+550px+950px+500px+398px;
    width: 100%;
    height: 254px;
    display: flex;
    .footer-inner{
        margin: auto;
        display: flex;
        align-items:center;
        flex-direction: column;
        .footer-logo{
            margin: 50px auto;
        }
        .footer-copyright{
            background-color: #E6E5EA;
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 10px 0;
            margin: 15px 736px -4px;
            font-family: Montserrat, sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            & a{
                color:#F6BF33;
                text-decoration: underline;
            }
        } 
    }
}